<h1>Proyecto Padre</h1>

<div>
  <ul>
    <li>
      <a mat-button [routerLink]="'/'"> Home </a>
    </li>

    <div *ngIf="session?.isActive">
      <li *ngFor="let remote of remotesConfig">
        <a [routerLink]="remote.path">{{ remote.displayName }}</a>
      </li>
    </div>
  </ul>
</div>

<div>
  <button mat-button (click)="logout()" *ngIf="session?.isActive; else logIn">
    <span>Cerrar sesión</span>
  </button>

  <ng-template #logIn>
    <button mat-button (click)="login()" class="btn-login">
      <span>Loguearse</span>
    </button>
    <input type="text" placeholder="Nombre de usuario" [(ngModel)]="userName" />
  </ng-template>
</div>

<main>
  <h2>
    <ng-container *ngIf="session?.isActive; else loggedOut">
      <span>Sesión: activa</span>
    </ng-container>

    <ng-template #loggedOut>
      <span>Sesión: inactiva</span>
      <app-carousel></app-carousel>
    </ng-template>
  </h2>

  <router-outlet></router-outlet>
</main>
